@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet {
  height: 17px !important;
  width: 17px !important;
}
.swiper-pagination-bullet-active {
  background-color: #eda415 !important;
}
