@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}
.swiper-pagination-bullet-active {
  background-color: #eda415 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "";
  color: #eda415;
}
